@font-face {
	font-family: 'slayer';
	src: url('./fonts/slayer11.TTF'); 
	src: 
		local('Slayer'),
		local('Slayer'),
		url('./fonts/slayer11.TTF') 
		format('TrueType');
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.content-label{
  color: #8c4f00;
}

.App {
  text-align: center;
  font-family: 'slayer', cursive;


}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.nav-logo{
  width: 40%;
  /* border: 1px solid lime; */
  display: flex;
  font-size: 16px;
  justify-content: center;
  align-items: center;
  font-family: 'slayer', cursive;
}

.nav-links {
  width: 60%;
  /* border: 2px solid yellow; */
  display: flex;
  justify-content: space-evenly;
  font-size: 24px;
  align-items: center;
  color: white;
  font-family: 'slayer', cursive;
}

@media screen and (max-width: 600px) {
  .nav-logo {
    width: 45%;
  }
  .nav-links {
    width: 55%;
    font-size: 15px;
  }
}

@media screen and (max-width: 800px) {
  .nav-logo h1{
    font-size: 20px;
  }
}

@media screen and (min-width: 800px) {
  .nav-logo h1{
    font-size: 30px;
  }
}

.search-bar{
  width: 300px;
  height: 35px;
  margin: 0 0 20px 0;
  border:none;
  border-radius: 20px;
  padding-left: 10px;
  font-size: 20px;
  outline: none;
}
.page-numbers{
  color: white;
  font-size: 24px;
}

.card-content{
  text-align: left;
  font-size: 18px;
  width: 90%;
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
  margin:auto;
}

.nav-links p {
  color: #8c4f00;
}

.character-name {
  padding: 10px 0 0 0;
  font-size: 20px;
  font-family: 'slayer', cursive;
  font-weight: 900;
  /* border-bottom: 1px solid maroon; */
}
.character-page{
  background-color:maroon;
  padding:3vh 0;
  min-height: 90vh;
}
.sliding-background {
  animation: slide 80s linear infinite;
}
@keyframes slide{
  0%{
    transform: translate3d(0, 0, 0);
  }
  100%{
    transform: translate3d(-1500px, 0, 0);
  }
}

.pagination{
  display:flex;
  list-style: none;
  justify-content: center;
}

.pagination li{
  margin: 0 10px;
}

body{
  background: rgb(129,0,87);
background: linear-gradient(0deg, rgba(129,0,87,1) 0%, rgba(35,0,91,1) 100%);

}

.loader {
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #ffffff;
  background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before {
  width: 50%;
  height: 50%;
  background: #ffffff;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.loader:after {
  background: #ffffff00;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
